<div class='box-holder'>
  <table>
    <tbody>
      <tr>
        <td colspan="18"></td>
      </tr>
      <tr>
        <% 5.times do %>
          <td></td>
        <% end %>

        <% @node[:redBorder][:segments].each do |k, v| %>
          <% if v["bypass"] %>
            <% 2.times do %>
              <td>
                <img src="/images/rj-orange-up-18x15.gif" alt="" />
              </td>
            <% end %>
          <% else %>
            <% v[:interfaces].each do |k, v| %>
              <% if v[:status] == 'up' %>
                <td>
                  <img src="/images/rj-green-up-18x15.gif" alt="" />
                </td>
              <% else %>
                <td>
                  <img src="/images/rj-red-up-18x15.gif" alt="" />
                </td>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% (6 - @node[:redBorder][:segments].size).times do %>
          <td></td>
          <td></td>
        <% end %>
        <td></td>
      </tr>
    </tbody>
  </table>
  <img class="background-image" src="/images/frontal.png" alt="" />
</div>
