<div class="content">
  <div id="events" class='grid_12 boxit'>
    <li class="category highlight">
      <div class="row">
        <div class="category-name click">Events</div>
      </div>
    </li>
    <ul class='table'>
      <li class='header'>
        <div class='row'>
          <div class='small'>&nbsp;</div>
          <div class='small'>Sev</div>
          <div class='sensor'>Sensor</div>

          <div class='address'>Source IP</div>

          <div class='address'>Destination IP</div>

          <div class='signature'>Event Signature</div>

          <div class='timestamp'>Timestamp</div>
        </div>
      </li>

      <div class='content'>
        <%= render @events %>
      </div>
    </ul>
  </div>

  <%- if !@traps.nil? && !@traps.blank? %>
    <div id="traps" class='grid_12 boxit'>
      <li class="category highlight">
        <div class="row">
          <div class="category-name click">Traps</div>
        </div>
      </li>
      <ul class='table'>
        <li class='header'>
          <div class='row'>
            <div class='address'>Ip</div>
            <div class='port'>Port</div>
            <div class='protocol'>Protocol</div>
            <div class='address'>Hostname</div>
            <div class='address'>Community</div>
            <div class='value'>Message</div>
            <div class='timestamp'>Timestamp</div>
          </div>
        </li>

        <div class='content'>
          <%= render @traps %>
        </div>
      </ul>
    </div>
  <%- end %>
</div>
