<div class='box-holder'>
  <table>
    <tbody>
      <tr>
        <td colspan="18"></td>
      </tr>
      <tr>
        <% 5.times do %>
          <td></td>
        <% end %>
        <% 4.times do %>
          <td>
            <img src="/images/rj-green-up-18x15.gif" alt="" />
          </td>
        <% end %>
        <% 4.times do %>
          <td>
            <img src="/images/rj-red-up-18x15.gif" alt="" />
          </td>
        <% end %>
        <% 4.times do %>
          <td>
            <img src="/images/rj-green-up-18x15.gif" alt="" />
          </td>
        <% end %>
        <td></td>
      </tr>
    </tbody>
  </table>
  <img class="background-image" src="/images/frontal.png" alt="" />
</div>
