<div class='box-large round'>
	
  <div class='box-large-inside'>

    <% @metrics.each_with_index do |metric, index| %>
    
      <%= render :partial => 'graph_metric', :locals => {:metric => metric, :index => index}  %>

    <% end %>

    <%= render :partial => 'graph_severity'%>

  </div>

</div>