<% content_for :footer do %>

	<script type="text/javascript">

		chart = new Highcharts.Chart({
		    chart: {
		    	renderTo: 'cpu-graph',
		        defaultSeriesType: 'spline',
		        marginRight: 80,
				marginLeft: 80,
				marginTop: 50,
		        marginBottom: 50
		    },
          	credits: {
            	enabled: false
          	},
		    title: {
		    	text: 'System CPU vs Time By Sensor',
		        x: -20 //center
		    },
		    xAxis: {
				categories: [<%= @axis %>],
		        title: {
					margin: 10,
					<% if @range == 'last_3_hours' %>
                  		text: 'Last 3 Hours'
					<% elsif (@range == 'year' || @range == 'quarter') %>
						text: 'Month of Year'
					<% elsif (@range == 'month' || @range == 'last_month') %>
						text: 'Date of Month'
					<% elsif (@range == 'week' || @range == 'last_week') %>
						text: 'Date Of Week'
					<% else %>
						text: 'Hour of Day'
					<% end %>
		         }
		 	},
		    yAxis: {
		    	title: {
		        	text: '% Average'
		         },
		         plotLines: [{
		         	value: 0,
		            width: 1,
		            color: '#808080'
		         }],
				 min: 0,
				 max: 100
		  	},
		    tooltip: {
				formatter: function() {
		        	return '<b>'+ this.series.name +'</b><br/>'+ this.y + '%';
		        }
	        },
		    legend: {
		    	layout: 'vertical',
		        align: 'right',
		        verticalAlign: 'top',
		        x: 0,
		        y: 0,
		        borderWidth: 0,
				borderRadius: 0,
				borderColor: '#ddd',
				backgroundColor: '#fff'
		    },
		    series: <%= metric.to_json.html_safe %>
		});

	</script>

<% end %>

<div id='metric-graph_<%= index %>' <%= "style='display:none;'" unless index.zero? %> class='dashboard-graph'></div>