<li data-category-id='<%= category.id %>' class="category">
  <div class="row">
    <div class="select small"><%= check_box_tag 'category-selector-#{category.id}', nil, false, :class => "check_box_#{category.id}" %></div>
    <div class="action">
      <%= render :partial => 'rules/action', :locals => {:actions => actions, :action => "actions"} %>
    </div>
    <div class="message"><%= category.name %></div>
    <div class="nrules"><%#= category.rules.all().size %></div>
  </div>
  <ul class="table groups" style='display:none;'>
    <div class="content"></div>
  </ul>
</li>
