<li>
  <div class="row rule">
    <div class="action">Action</div>
    <div class="message"><%= truncate(rule.msg, :length => 50, :omission => '...') %></div>
  </div>
  <div class="rule-data">Rule Data</div>
</li>