<div id="rules_category_<%=  category.id %>" class='boxit'>
  <ul class="table">
    <li class="header">
      <div class="row">
        <div class="action">Actions</div>
        <div class="message">Message</div>
        <div class="nrules"></div>
      </div>
    </li>
    <div class="content">
      <%= render :partial => 'rules/group', :collection => @groups, :locals => {:category => category, :actions => @actions} %>
    </div>
  </ul>
</div>