<div class='rule-data-holder'>
  <div class='rule-data-holder-inside'>
    <div id="rule-menu"></div>
    <%= render :partial => 'rules/signature', :locals => {:rule => rule}%>
    <% unless rule.protocol.nil? %>
      <%= render :partial => 'rules/l3l4', :locals => {:rule => rule}%>
    <% end %>
    <%= render :partial => 'rules/details', :locals => {:rule => rule}%>
    <%= render :partial => 'rules/notes', :locals => {:rule => rule} if Setting.notes?%>
  </div>
</div>
